@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

body{
    width: 200px;
    height:100px;
    padding: 20px;
    text-align: center;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
    font-size: 12px;
    background-color: rgb(57, 54, 54);
    color: rgb(240, 240, 237);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
	background-color:#3b5998!important;
	border-radius:20px;
	border:1px solid #2f4982;
	display:inline-block;
	cursor:pointer;
	color: rgb(240, 240, 237)!important;
	font-size:10px;
	padding: 10px 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px #191d48;
    margin-bottom: 20px;
    font-family: Geneva,Tahoma,Verdana,sans-serif; 
}

button:hover {
	background-color:#5cbf2a;
}

button:active {
	position:relative;
	top:1px;
}
