@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

body{
    width: 200px;
    height:100px;
    padding: 20px;
    text-align: center;
    font-family: 'KoPub Batang', serif;
    font-size: 15px;
    background-color: black;
    color: white;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
	background-color:#44c767!important;
	border-radius:20px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff!important;
	font-size:10px;
	padding: 10px 30px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin-bottom: 20px;
}

button:hover {
	background-color:#5cbf2a;
}

button:active {
	position:relative;
	top:1px;
}